@font-face {
    font-family: old school;
    src: url("../fonts/CollegiateBlackFLF.ttf");

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: old school;
}

body {
    background: url(https://pbs.twimg.com/media/F3xSNVpXUAE2-4_.jpg:large) center;
    height: 100vh;
    background-size: cover;
    display: grid;
    place-items: center;

}

h1 {
    box-shadow: 1px 3px #ffffff;
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #fff;
 
}

.relogio {
    background-color: transparent;
    width: 90%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 10px #00000070;
    border-radius: 5px;

}

.relogio div {
    border: 2px solid rgb(143, 7, 7);

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    letter-spacing: 3px;
    color: #fff;
    background: #2b0c0c;
    box-shadow: 5px 5px 15px #773737;
    margin: 2%;
    padding: 3%;

}

.relogio span {
    font-weight: bolder;
    font-size: 4rem;
}

.relogio span.tempo {
    font-size: .7rem;
}


@media (max-width:500px) {
    .relogio {
        flex-direction: column;
        width: 60%;

    }

    h1 {
        top: 5%;
        font-size: 1.5rem;
    }

}